<div class="flex items-center h-screen w-full">
  <div class="max-w-lg px-2 mx-auto w-full">
    <ng-container *ngIf="formState === 'signUp'">
      <div>
        <h1 class="text-5xl text-center mb-6">
          Welcome to <span class="text-[#5c6cff]">Blog</span>Ger
        </h1>
        <div class="text-center mb-7">
          <p class="inline mr-1">Already have an account?</p>
          <a [routerLink]="['..']" class="text-blue-600 cursor-pointer"
            >Login</a
          >
        </div>
      </div>
      <form [formGroup]="signupForm" class="w-full px-2" (submit)="onSubmit()">
        <app-input
          inputType="text"
          label="Username"
          [control]="$any(signupForm.controls['username'])"
        ></app-input>
        <app-input
          inputType="text"
          label="email"
          [control]="$any(signupForm.controls['email'])"
        ></app-input>
        <app-input
          inputType="password"
          label="Password"
          [control]="$any(signupForm.controls['password'])"
        ></app-input>
        <app-input
          inputType="checkbox"
          [control]="$any(signupForm.controls['rememberMe'])"
        >
          <label class="form-check-label inline-block text-gray-800">
            Remember me
          </label>
        </app-input>
        <div class="flex justify-between mt-6">
          <button
            type="submit"
            class="w-full py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
          >
            Register
          </button>
          <button
            routerLink="../.."
            type="button"
            class="text-blue-600 uppercase font-medium text-sm leading-tight ml-2 w-full"
          >
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="formState === 'confirmSignUp'">
      <h1 class="text-5xl text-center mb-6">Please verify code</h1>
      <div class="text-center mb-7">
        <p>We sent your code on your email account:</p>
        <p class="text-blue-600">{{ signupForm.value.email }}</p>
      </div>
      <form [formGroup]="signupForm" class="w-full px-2" (submit)="onSubmit()">
        <app-input
          inputType="disabled"
          [label]="signupForm.value.username"
          [control]="$any(signupForm.controls['username'])"
        ></app-input>
        <app-input
          inputType="text"
          label="Verification Code"
          [control]="$any(signupForm.controls['verificationCode'])"
        ></app-input>
        <div class="flex justify-between">
          <button
            type="submit"
            class="w-full mt-4 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
          >
            verify
          </button>
          <!-- <button
              type="button"
              class="text-blue-600 uppercase font-medium text-sm leading-tight ml-2 w-1/2"
              >
              Cancel
            </button> -->
        </div>
      </form>
    </ng-container>
  </div>
</div>
