<div class="border-gray-300 rounded-md border border-solid px-3 py-1.5 mt-6">
  <div class="flex justify-between">
    <h5>{{ reply.userId }}</h5>
    <button
      *ngIf="userId === reply.userId"
      type="button"
      (click)="displayInput()"
    >
      Edit reply
    </button>
  </div>
  <p [hidden]="editMode">{{ reply.commentBody }}</p>
  <form
    [hidden]="!editMode"
    [formGroup]="replyForm"
    class="w-full"
    (ngSubmit)="updateReply()"
  >
    <textarea
      [id]="reply.replyId"
      type="text"
      formControlName="commentBody"
      class="w-full"
      autofocus
    >
    </textarea>
    <button type="submit">Update reply</button>
  </form>
</div>
