<div
  class="w-full text-white p-3 md:px-20 flex justify-between bg-[#000438] z-50"
>
  <a class="text-[#5c6cff]" routerLink="/"
    >Blog<span class="text-white">Ger</span></a
  >
  <div *ngIf="!isLoggedIn" class="flex gap-3">
    <a routerLink="auth"> Login </a>
    <a
      routerLink="auth/signup"
      class="bg-white text-[#000438] px-2 font-bold rounded-sm pb-1"
    >
      Signup
    </a>
  </div>
  <div *ngIf="isLoggedIn">
    <button (click)="logOut()">Logout</button>
  </div>
</div>
